[Unit]
Description=Backend for Flask-React App
After=network.target app-install.service
Requires=app-install.service

[Service]
Type=simple
WorkingDirectory=/opt/app
Environment="PATH=/opt/app/.venv/bin/:/usr/local/bin:/usr/bin:/bin"
ExecStart=/usr/bin/npm run backend
User=user
Group=user
Restart=on-failure

[Install]
WantedBy=multi-user.target